*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto' , sans-serif;
}
.website{
  background-image: url('https://www.w3schools.com/css/img_mountains.jpg.jpg');
  background-size: cover;
  background-attachment: fixed;
  opacity: 80%;
  height: 600px;
}