{% extends 'layout.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ข้อมูลการสอบเข้าแต่ละมหาลัย</title>
</head>
<body>
    <h1></h1>
    <h1> ข้อมูลการสมัครเข้าแต่ละมหาลัย </h1>
    <h1></h1>
    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">จุฬาลงกรณ์มหาวิทยาลัย</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/1Wb4rePsZgt6GkTN4oXZHmAT3xo7fqsOe/view?usp=sharing" class="btn btn-info">โครงการโอลิมปิกวิชาการ</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1A66o46vjWW4KBkoQ35nm6d6sJfZc4y-5/view?usp=sharing" class="btn btn-info">โครงการโอลิมปิกวิชาการเข้าศึกษาในสาขาวิศวกรรมคอมพิวเตอร์</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1WbW5o0ZpzSkJSl2EOs2DWpSxHf7c_tPf/view?usp=sharing" class="btn btn-info">โครงการพัฒนาอัจฉริยภาพทางวิทยาศาสตร์และเทคโนโลยีสำหรับเด็กและเยาวชน </a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1Qi6LscNW2k8dqTQY3mvQfR7nd7Ci58jY/view?usp=sharing" class="btn btn-info">โครงการห้องเรียนพิเศษวิทยาศาสตร์ คณิตศาสตร์ เทคโนโลยีและสิ่งแวดล้อม <br /> <br /> และโรงเรียนที่จัดการศึกษาสำหรับผู้มีความสามารถพิเศษด้านคณิตศาสตร์และวิทยาศาสตร์</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1Kl26gYuAdrrF3NNyzxfGxAINFrZnGEHf/view?usp=sharing" class="btn btn-info">โครงการความสามารถดีเด่นระดับชาติทางกีฬา(ทีมชาติ)</a>
            </p>

        </div>
    </div>
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ (บางเขน)</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="" class="btn btn-info">โครงการนักกีฬาทีมชาติและเยาวชนทีมชาติ</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1Z1cE-2mgAk8cSh7mwFPlO8sCQqa-hKeS/view?usp=sharing" class="btn btn-info">โครงการโอลิมปิกวิชาการ</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1OFhe5ie_YlsRa5vv_jNBi8vSnGHWZFNj/view?usp=sharing" class="btn btn-info">โครงการหลักสูตรนานาชาติและหลักสูตรภาษาอังกฤษ</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1mrTiSnpn3yKb_ZZrIZG0x57_Ej27srtz/view?usp=sharing" class="btn btn-info">โครงการช้างเผือก</a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/1jO-6qxhUia29Z6u2D78ilq2Fo9MukuYb/view?usp=sharing" class="btn btn-info">โครงการ Active Recruitment ปีการศึกษา 2563</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1bhezWJ2YHAAPc1h_MaYzijvRs08ak4SW/view?usp=sharing" class="btn btn-info">โครงการรับนักศึกษาความสามารถพิเศษและทุนเพชรพระจอมเกล้า ปีการศึกษา 2563</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1dBg0UpihZVvgVmIU6paqL-xUH7Mhj3zF/view?usp=sharing" class="btn btn-info">โครงการ KMUTT International Admission (ครั้งที่ 1) ปีการศึกษา 2563</a>
            </p>
            <p>
                <a href=https://drive.google.com/file/d/1DyMOvVCuIXLOZS5mQAMtyqqjGfnltEzW/view?usp=sharing" class="btn btn-info">โครงการคัดเลือกตรงประเภทเรียนดี ปีการศึกษา 2563</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1_a7fT9S2WIwoRXSsioUlZ_JjvVjFFzdX/view?usp=sharing" class="btn btn-info">โครงการรับนักเรียนจากมูลนิธิ สอวน. ปีการศึกษา 2563 </a>
            </p>
                        <p>
                <a href="https://drive.google.com/file/d/16zc1nart5UOnS-tpjJJJl4hIz7f4pPwM/view?usp=sharing" class="btn btn-info">โครงการรับนักเรียนโครงการ วมว. ปีการศึกษา 2563</a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/13695z114M7PFDgquN_NO12u0_SjNLGR8/view?usp=sharing" class="btn btn-info">โครงการโควตาเรียนดี คณะวิศวกรรมศาสตร์</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1MxWrrXAqzlons-8zVDdGTy_0bqOg6Pxw/view?usp=sharing" class="btn btn-info">โครงการสำหรับผู้มีความรู้ความสามารถพิเศษทางด้านกีฬา/ด้านศิลปวัฒนธรรม</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1Der1C7U6TR1m5ym3CNKdIHrOHeyzI5Ns/view?usp=sharing" class="btn btn-info">โครงการสำหรับผู้มีความสามารถดีเด่นด้านนวัตกรรมหรือสิ่งประดิษฐ์</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1FNSyRs5EP-4gm7UFHSwE9TMNmsKSdony/view?usp=sharing" class="btn btn-info">โครงการสำหรับผู้มีความสามารถดีเด่นด้านหุ่นยนต์</a>
            </p>
        </div>
    </div>
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
           <p>
                <a href="https://drive.google.com/file/d/1K3Me6qTGcX-e2cnFYCAd7xCPtrAxOppC/view?usp=sharing " class="btn btn-info">โครงการโควตานักเรียนมูลนิธิส่งเสริมโอลิมปิกวิชาการและพัฒนามาตรฐานวิทยาศาสตร์ศึกษาในพระอุปถัมภ์ สมเด็จพระเจ้าพี่นางเธอ เจ้าฟ้ากัลยาณิวัฒนา กรมหลวงนราธิวาสราชนครินทร์ (สอวน.) ประจำปีการศึกษา 2563</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1cs4KnzCs-iChsUWkNxkouQg2Frs6UVs0/view?usp=sharing" class="btn btn-info">โครงการให้โควตาบุตรของบุคลากรสถาบันเทคโนโลยี
                    พระจอมเกล้าเจ้าคุณทหารลาดกระบัง ประจำปีการศึกษา 2563</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1Cpe5sxCcPxQO1hcpTSBVZwQ2e9TWlCm4/view?usp=sharing" class="btn btn-info">โครงการรับด้วย Portfolio </a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยมหิดล</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p class="card-text">สาขาวิชาวิศวกรรมคอมพิวเตอร์
                    <br /> <br />สาขาวิชาวิศวกรรมเคมี
                    <br /> <br />สาขาวิชาวิศวกรรมเคมี (นานาชาติ)
                    <br /> <br />สาขาวิชาวิศวกรรมเครื่องกล
                    <br /> <br />สาขาวิชาวิศวกรรมชีวการแพทย์ (นานาชาติ)
                    <br /> <br />สาขาวิชาวิศวกรรมไฟฟ้า
                    <br /> <br />สาขาวิชาวิศวกรรมอุตสาหการ
                    <br /> <br />สาขาวิชาวิศวกรรมอุตสาหการ (นานาชาติ) วิชาเอกวิศวกรรมผลิตภัณฑ์นมและเครื่องดื่ม
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1U9Az-vAVFg9Dl_xWrASCLKzMQIUI3mdL/view?usp=sharing" class="btn btn-info">Link</a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยธรรมศาสตร์</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/14fCoYX1fzBfJUTyqKHyFox2oBkooCclJ/view?usp=sharing" class="btn btn-info">โครงการรับด้วย Portfolio</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1c1jA7EFl05vjO-q-hDTnn-S3eP7cZR8g/view?usp=sharing" class="btn btn-info">โครงการรับนักศึกษาผู้มีความสามารถดีเด่นทางด้านกีฬา</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1dwOgP0f8Y_dN8ifCh_flt36V6BlxX0MC/view?usp=sharing" class="btn btn-info">โครงการคัดเลือกนร. คณิตศาสตร์และวิทยาศาสตร์โอลิมปิก (สสวท.)</a>
            </p>
            <p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเชียงใหม่</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/1PUwMb8LCidHiYRWoz0dUIWlWMcylatSJ/view?usp=sharing" class="btn btn-info">โครงการรับด้วย Portfolio</a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">สำนักวิชาวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีสุรนารี</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/1NB4A71yA1pROF24xNRP5moK-mGyOQwGV/view?usp=sharing" class="btn btn-info">โครงการรับด้วย Portfolio</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1mqxT2aQXLdAfQ_fROWUo2PKBx9GUH_pD/view?usp=sharing" class="btn btn-info">โครงการเด็กดีมีคุณธรรม</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1aXta8xYA6PeDeVsGs6MAM-XLY0lIxyUU/view?usp=sharing" class="btn btn-info">โครงการบุตรเกษตรกรในเขตภาคตะวันออกเฉียงเหนือ</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1JStfnov8egPLPDTe3GKrCfBjrxVv1rFa/view?usp=sharing" class="btn btn-info">โครงการลูกแสดทอง</a>
            </p>
        </div>
    </div> 
    <br /> <br />

    <div class="card" style="width: 40Arem;">
        <div class="card-body">
            <h5 class="card-title">คณะวิศวกรรมศาสตร์ มหาวิทยาลัยสงขลานครินทร์</h5>
            <h6 class="card-subtitle mb-2 text-muted">รอบ portfolio 64</h6>
            <p>
                <a href="https://drive.google.com/file/d/1Br8n18BSUT1PCQO_X5nWKAuSgARV5qX9/view?usp=sharing" class="btn btn-info">โครงการรับนักเรียนที่มีผลการเรียนดี</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/10Tzo-ZRU3tanOra-Y2_55SRXL_x9R-jW/view?usp=sharing" class="btn btn-info">โครงการโควตาพิเศษ รับนักศึกษาระดับประกาศนียบัตรวิชาชีพ (ปวช.)</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1LfmIyVCGA71TGQUSkSpGQDs4E5wfSAII/view?usp=sharing" class="btn btn-info">โครงการส่งเสริมผู้มีคุณธรรม จริยธรรม บำเพ็ญประโยชน์ ช่วยเหลือสังคม</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1LCLwry8uEHZpb5QoeP2Bzod6sga6z6oc/view?usp=sharing" class="btn btn-info">โครงการลูกพระราชบิดา 1</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/153yEVa_uWPs89aw0J0ORsa6R9QzKnhvg/view?usp=sharing" class="btn btn-info">โครงการลูกพระราชบิดา 2</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/17blkTOu1MBf4l7e9HxOooupb6pBlBZf5/view?usp=sharing" class="btn btn-info">โครงการทุนมงคลสุข</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1miSEHP0_e7WxQFMeLlJDqiushffyIj0a/view?usp=sharing" class="btn btn-info">โครงการโควตาวิศวกรรมศาสตร์ ม.อ.</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1peJkAx7LknvfEnvt7VksNW6LgDKE28l2/view?usp=sharing" class="btn btn-info">โครงการดาวรุ่งคอมพิวเตอร์ประเภทที่ 1</a>
            </p>
            <p>
                <a href="https://drive.google.com/file/d/1qLtZmAPEhvQ3Xx6LDAX4q2Czt5TgXiQa/view?usp=sharing" class="btn btn-info">โครงการดาวรุ่งคอมพิวเตอร์ประเภทที่ 2</a>
            </p>

        </div>
    </div> 
    <br /> <br />
</body>
</html>

{% endblock %}
